/* (edit style.css for your own book styles) */

img { max-width: 100%; }


/* fix code wrap with line numbers */
pre > code.sourceCode > span {
  text-indent: -4em;
  padding-left: 4em;
}

.inline-figure { border: none; }

@media screen and (max-width: 767.98px) {
  #TOC, #quarto-sidebar .sidebar-menu-container ul.mt-1 {
    width: 49%;
    padding:0;
    float: left;
    display: inline-block;
    vertical-align: text-top;
  }
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}

.cell-output code {
  white-space: pre-wrap;
  border: 1px solid grey;
  padding: 1em;
}

.terminal {
  background-color: #88888811;
  border: 5px solid #D6DADC;
  padding: 0.5em 1em 0 1em;
  margin-bottom: 0.5em;
}
